[user]
	email = jbjcalmels@gmail.com
	name = Jonathan Calmels
	mail = jbjcalmels@gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitignore
[merge]
	tool = vimdiff
[push]
    default = upstream
[alias]
    ci = commit
    st = status
    ps = push
    pl = pull
    gl = log --graph
    df = !git diff | vim -
    dfc = !git diff --cached | vim -
    cp = cherry-pick
    br = branch
    mgt = mergetool
